* {
box-sizing: border-box;
}
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
* html .row { height: 1%; }
.row { display: block; }


body {
margin: 0;
padding: 0;
font-family: 'Montserrat';
background: #f2f6f9;
}
#block {
width: 200vh;
height: 50px;
background: blue;
}
#one {
text-align: center;
color: white;
font-size: 12px;
height: 30vh;
width: 100vh;
display: table;
position: relative;

}
#HEAD {
display: table-cell;
vertical-align: middle;
}
@media screen and (max-width: 720px) {
  #block {
    width: 375px;
    height: 30px;
    background: red;
  }
  #one {
  text-align: center;
  color: white;
  font-size: 6px;
  width: 375px;


}
